body{
    background-image: url(images/moves2.jpg) ;
    
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center top;
}


.a{
    border: 5px outset #e2e5eb;
    background-color: #dbdfe3; 
    text-align: center;
    margin-top: 5px;
  }
  #g{
    text-decoration: none;  
    color: black;
  }
  .t{
    border: 5px outset #e2e5eb;
    background-color: #f6e3eb; 
    text-align: center;
  }
  .r{
    border: 5px outset #e2e5eb;
    background-color: #f6e3eb; 
    text-align: center; 
  }
  .i{
    background-color: #d2dbe5;
    widows: 350px; ;
    float: center;
    padding:40px ;
  
         }
  .y{
    background-color: #d2dbe5;
    widows: 350px; ;
    float: center;
    padding:6px ;
  }
  